html {
  width: 100%;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: arial;
  margin: 0;
  letter-spacing: 2px;
  font-size: 14px;
}

header {
  width: 100%;
}
header .navbar {
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  border-bottom: 2px solid rgb(13, 13, 13);
  border-top: 2px solid rgb(13, 13, 13);
}
header .navbar .navbarLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
  background: white;
}
header .navbar .navbarCenter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(124, 255, 144);
  height: 100%;
  width: 70%;
  border-right: 2px solid rgb(13, 13, 13);
  border-left: 2px solid rgb(13, 13, 13);
}
header .navbar .navbarCenter a {
  height: 100%;
  display: flex;
  color: rgb(13, 13, 13);
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.1s;
}
header .navbar .navbarRight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
  transition: 0.2s;
}
header .navbar .navbarRight .contactUs {
  width: 80%;
  height: 100%;
  text-decoration: none;
  color: rgb(13, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .navbarRight:hover {
  background: rgb(13, 13, 13);
}
header .navbar .navbarRight:hover .contactUs {
  color: white;
}
header .navbar .selectLanguage {
  border-right: 2px solid rgb(13, 13, 13);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  background: rgb(13, 13, 13);
}
header .navbar .selectLanguage .flag {
  background: rgb(124, 255, 144);
  width: 100%;
  height: 50%;
}
header .navbar .selectLanguage .language {
  color: white;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .logo {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .navbar .burgerMenu {
  display: none;
  height: 100%;
  background: rgb(124, 255, 144);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 993px) {
  .burgerMenu {
    display: none !important;
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  header {
    width: 100%;
  }
  .navbar {
    border-top: none !important;
    height: 50px !important;
    font-size: 11px;
    width: 100% !important;
  }
  .burgerMenu {
    display: none !important;
  }
  .selectLanguage {
    width: 20% !important;
  }
  .logo {
    width: 60%;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  header {
    width: 100%;
  }
  header .navbar {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: 900;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
    border-bottom: 2px solid rgb(13, 13, 13);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 13px;
  }
  header .navbar .navbarLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    background: white;
  }
  header .navbar .navbarCenter {
    display: none;
  }
  header .navbar .navbarCenter a {
    height: 100%;
    display: flex;
    color: rgb(13, 13, 13);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.05s;
  }
  header .navbar .navbarRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25% !important;
    transition: 0.2s;
    background: white;
    border-left: 2px solid rgb(13, 13, 13);
  }
  header .navbar .navbarRight .contactUs {
    width: 80%;
    height: 100%;
    text-decoration: none;
    color: rgb(13, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navbar .navbarRight:hover {
    background: rgb(124, 255, 144);
  }
  header .navbar .selectLanguage {
    border-right: 2px solid rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    background: rgb(13, 13, 13);
  }
  header .navbar .selectLanguage .flag {
    background: yellow;
    width: 100%;
    height: 50%;
  }
  header .navbar .selectLanguage .language {
    color: white;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navbar .burgerMenu {
    display: flex;
    width: 22%;
    border-right: 2px solid;
    background: white;
  }
  header .navbar .logo {
    width: 70%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 576px) {
  body {
    width: 100vw;
  }
  header {
    width: 100%;
  }
  header .navbar {
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .navbarRight {
    display: none !important;
  }
  .navbarCenter {
    display: none !important;
  }
  .navbarLeft {
    width: 100% !important;
    flex-direction: row-reverse;
    border: none !important;
  }
  .navbarLeft .burgerMenu {
    width: 20% !important;
  }
  .navbarLeft .logo {
    width: 20%;
  }
  .navbarLeft .selectLanguage {
    border: none !important;
  }
}
main {
  width: 100%;
}
main .banner {
  width: 100%;
  aspect-ratio: 2.5/1;
}
main .banner .bannerImage {
  border-bottom: 2px solid rgb(13, 13, 13);
  height: 100%;
  background-image: url(./../../../public/src/img/bannerImage4.avif);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 992px) and (min-width: 769px) {
  main {
    width: 100%;
  }
  main .banner {
    margin-top: 50px;
    aspect-ratio: 2.5/1;
    margin-top: 0px;
  }
  main .banner .bannerImage {
    border: none;
    border-bottom: 2px solid rgb(13, 13, 13);
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  main {
    width: 100%;
  }
  main .banner {
    width: 100%;
    aspect-ratio: 2/1;
    margin-top: 0px;
  }
  main .banner .bannerImage {
    border: none;
    border-bottom: 2px solid rgb(13, 13, 13);
    height: 100%;
    background-position-y: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 576px) {
  main {
    width: 100%;
  }
  main .banner {
    width: 100%;
    aspect-ratio: 2/1;
    margin-top: 0px;
  }
  main .banner .bannerImage {
    border: none;
    border-bottom: 2px solid rgb(13, 13, 13);
    height: 100%;
    background-position-y: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .s2page1 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
  background: rgb(13, 13, 13);
}
main .s2page1 .textboxContainer1 {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
main .s2page1 .textboxContainer1 div {
  color: white;
  justify-content: space-between;
  width: 47%;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 992px) and (min-width: 769px) {
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  main .s2page1 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    background: rgb(13, 13, 13);
  }
  main .s2page1 .textboxContainer1 {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  main .s2page1 .textboxContainer1 div {
    color: white;
    justify-content: space-between;
    width: 47%;
    font-size: 12px;
    line-height: 25px;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  main .s2page1 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    background: rgb(13, 13, 13);
  }
  main .s2page1 .textboxContainer1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  main .s2page1 .textboxContainer1 div {
    color: white;
    justify-content: space-between;
    width: 47%;
    font-size: 12px;
    line-height: 25px;
  }
}
@media (max-width: 576px) {
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  main .s2page1 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    background: rgb(13, 13, 13);
  }
  main .s2page1 .textboxContainer1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  main .s2page1 .textboxContainer1 div {
    color: white;
    justify-content: space-between;
    width: 80%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
}
.s3page1 {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  width: 70%;
  padding-bottom: 100px;
  gap: 40px;
}
.s3page1 .eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 100%;
}
.s3page1 .eventsContainer .eventToCome {
  border: 2px solid rgb(13, 13, 13);
  display: flex;
  width: 100%;
  height: 100%;
}
.s3page1 .eventsContainer .eventToCome .date {
  border-right: 2px solid rgb(13, 13, 13);
  background: rgb(124, 255, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  font-size: 30px;
  font-weight: 900;
}
.s3page1 .eventsContainer .eventToCome .eventName {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: left;
  padding-left: 9%;
  align-items: center;
  font-size: 18px;
}

@media (max-width: 992px) and (min-width: 769px) {
  .eventsContainer {
    height: 350px !important;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  .s3page1 {
    flex-direction: column;
  }
  .s3page1 .eventsContainer {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .s3page1 {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .s3page1 .eventsContainer {
    flex-direction: column;
  }
}
.s4page1 {
  width: 100%;
  height: 220px;
  padding-bottom: 100px;
}
.s4page1 .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(124, 255, 144);
  width: 100%;
  height: 100%;
  border-top: 2px solid rgb(13, 13, 13);
  border-bottom: 2px solid rgb(13, 13, 13);
}

@media (max-width: 992px) and (min-width: 769px) {
  .s4page1 {
    height: 180px;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  .s4page1 {
    height: 200px;
  }
}
@media (max-width: 576px) {
  .s4page1 {
    padding-top: 10px;
    height: 140px;
  }
}

/*# sourceMappingURL=app.css.map */
