main
    width: 70%
    .banner
        width: 100%
        aspect-ratio: 2.5/1
        margin-top: 65px
        .bannerImage
            border: 2px solid $dark
            height: 100%
            background-image: url(./../../../public/src/img/banner1Image.jpeg)
            background-position: bottom
            background-size: cover
            background-repeat: no-repeat
    