main
    width: 100%
    .banner
        width: 100%
        aspect-ratio: 2.5/1
        .bannerImage
            border-bottom: 2px solid $dark
            height: 100%
            background-image: url(./../../../public/src/img/bannerImage4.avif)
            background-position: bottom
            // background-position: center
            background-size: 100%
            background-repeat: no-repeat
    